[ req ]
default_bits = 4096
prompt = no
default_md = sha256
distinguished_name = dn
req_extensions = v3_req

[ dn ]
C = BR
ST = Brazil
L = Sao Paulo
O = Mock-LDAP-CA
# CA Root Common Name
CN = Mock-LDAP-CA-Root

[ server_dn ]
C = BR
ST = Brazil
L = Sao Paulo
O = Mock-LDAP-Server
# Server Certificate Common Name - MUST match the main connection endpoint
CN = ip-172-31-12-105

[ v3_req ]
subjectAltName = @alt_names

[ v3_ca ]
# This section MUST exist and MUST contain CA:TRUE for the root cert
subjectKeyIdentifier = hash
authorityKeyIdentifier = keyid:always,issuer
basicConstraints = CA:TRUE
subjectAltName = @alt_names

[ v3_ext ]
# Server Certificate Extensions
subjectAltName = @alt_names
authorityKeyIdentifier = keyid:always,issuer
basicConstraints = CA:FALSE
keyUsage = digitalSignature, keyEncipherment
extendedKeyUsage = serverAuth

[ alt_names ]
IP.1 = 172.31.12.105
IP.2 = 172.17.0.1
# Docker bridge network gateway (often used for connecting from the host)
IP.3 = 127.0.0.1
DNS.1 = ip-172-31-12-105
DNS.2 = "mock.com"
DNS.3 = localhost
