apiVersion: apps/v1
kind: Deployment
metadata:
  annotations:
    deployment.kubernetes.io/revision: '10'
    kubectl.kubernetes.io/last-applied-configuration: >
      {"apiVersion":"apps/v1","kind":"Deployment","metadata":{"annotations":{"management.cattle.io/scale-available":"2"},"name":"cattle-cluster-agent","namespace":"cattle-system"},"spec":{"selector":{"matchLabels":{"app":"cattle-cluster-agent"}},"strategy":{"rollingUpdate":{"maxSurge":1,"maxUnavailable":0},"type":"RollingUpdate"},"template":{"metadata":{"labels":{"app":"cattle-cluster-agent"}},"spec":{"affinity":{"nodeAffinity":{"preferredDuringSchedulingIgnoredDuringExecution":[{"preference":{"matchExpressions":[{"key":"node-role.kubernetes.io/controlplane","operator":"In","values":["true"]}]},"weight":100},{"preference":{"matchExpressions":[{"key":"node-role.kubernetes.io/control-plane","operator":"In","values":["true"]}]},"weight":100},{"preference":{"matchExpressions":[{"key":"cattle.io/cluster-agent","operator":"In","values":["true"]}]},"weight":1}],"requiredDuringSchedulingIgnoredDuringExecution":{"nodeSelectorTerms":[{"matchExpressions":[{"key":"kubernetes.io/os","operator":"NotIn","values":["windows"]}]}]}},"podAntiAffinity":{"preferredDuringSchedulingIgnoredDuringExecution":[{"podAffinityTerm":{"labelSelector":{"matchExpressions":[{"key":"app","operator":"In","values":["cattle-cluster-agent"]}]},"topologyKey":"kubernetes.io/hostname"},"weight":100}]}},"containers":[{"env":[{"name":"CATTLE_FEATURES","value":"embedded-cluster-api=false,fleet=false,managed-system-upgrade-controller=true,multi-cluster-management=false,multi-cluster-management-agent=true,provisioningprebootstrap=false,provisioningv2=false,rke2=false,ui-sql-cache=true"},{"name":"CATTLE_SERVER","value":"https://ip-172-31-4-100.sa-east-1.compute.internal"},{"name":"CATTLE_CA_CHECKSUM","value":"2c1e4e07a24c4ebbdfa5b140980eaf23e3144c07412b6b26f4c743a4dc89811c"},{"name":"CATTLE_CLUSTER","value":"true"},{"name":"CATTLE_K8S_MANAGED","value":"true"},{"name":"CATTLE_CLUSTER_REGISTRY","value":"registry.rancher.com"},{"name":"CATTLE_CREDENTIAL_NAME","value":"cattle-credentials-d63f2cb575"},{"name":"CATTLE_SUC_APP_NAME_OVERRIDE","value":"mcc-load-cluster-01-managed-system-upgrade-con-07f5f"},{"name":"CATTLE_SERVER_VERSION","value":"v2.12.4"},{"name":"CATTLE_INSTALL_UUID","value":"ec95620e-b1a6-459a-a848-3e36fb601114"},{"name":"CATTLE_INGRESS_IP_DOMAIN","value":"sslip.io"},{"name":"STRICT_VERIFY","value":"true"}],"image":"registry.rancher.com/rancher/rancher-agent:v2.12.4","imagePullPolicy":"IfNotPresent","name":"cluster-register","volumeMounts":[{"mountPath":"/cattle-credentials","name":"cattle-credentials","readOnly":true}]}],"serviceAccountName":"cattle","tolerations":[{"effect":"NoSchedule","key":"node-role.kubernetes.io/controlplane","value":"true"},{"effect":"NoSchedule","key":"node-role.kubernetes.io/control-plane","operator":"Exists"}],"volumes":[{"name":"cattle-credentials","secret":{"defaultMode":320,"secretName":"cattle-credentials-d63f2cb575"}}]}}}}
    management.cattle.io/scale-available: '6'
    objectset.rio.cattle.io/applied: >-
      H4sIAAAAAAAA/7xWb2/iuBP+Kj/5NaFJCH+lfRG12f2hthQRqHRaVWhiT4Kvxs7ZDi1a8d1PDtCGlu5etad7RYI9zzyeeeaJfxAo+T1qw5UkIwJlaS42AWmRRy4ZGZErLIXarlFa0iJrtMDAAhn9ICClsmC5ksa9rkFCgW5fm4K1AttcXRgKAj3YABeQCSQjEpIWUdmfSK1B29ZcNXZzl+8n6+pJovaKzSMZkceOaaxsgtb/rrlkX2LGlPwlhIS140JFZSxqD4r96X4dZEqgLvKxytAzW2NxTXYtIiBDUVfhI4gVmJXL2KUdQL8L0KN5H6OAhZkfhjgEoFFOad7pd9ggjxzokWSN4b3l2mRz2PLKx5RIHRuDAqlVet8fS1c3L0ShLD8C3zkEq8FisXVbtRKCy2JRMrC4h3pOK10gGQUt97KQjQ77uxax29Lxmp0Euv9xXYojSENK4h/TOhwM8pxLbmt6UjGMG++lxhy1RnZVaS6LlK6QVY7HuJDq5e/kGWlla81/P8agpPhSquS51GjMXt7ff5BH3JJRnczTSmDbSUBLtGhcf6mSVitRCpDolFSihrrwZOzkuAFRocMhVldIHnYPuxZ5Ql6sLBkFvr9r/XscvP+ExKu0303Rp9LuHlpE418V/0TD9j1PD+Keo17vmf2E7mmllDnlOVH2DdUnLpl6MjXbB6e8UrFYWv7bQlPsCOF4v4g/fTup54/hxuNnFT47OPuKW1UqoYrt9Zl6rJSxtd28EUR9cicr4BL1ngjKTf17sKfLeD6/SZZfk3i+mCXpkQ0ZEVxnyBiyVzYl/5KDMNjKBaI9PO+/G+zgXl5VFhoYelQRp8fTLGkyu09mjRwra0szurjgpRf0Q68TeJEX+H7bgIdgrBe0qVqXlcU2lxa1BHEG9TJeXv4/ubxOF7cN6JAGGKHfhzCiEWYZy6GbBZE/HPgIedjBThBF1O9HQZj1srCXR7QfdSBidDAcBAE9l+hmkc5P+NcT8X7j9SBd3saT+Fty9evNB9TlLPk2TuezPxoRGgturN62NUi6Qu2qcQ5hllwlk/k4vllO4tukAXDUk0aG0nIQxuvRfk6HbNgdnmvQ4nIZT6c1zPLuPpnNxldNvDWlnlDwqgk/8D4UgPT8ft7NP9TB8j6ZpeO7SQN/E7aDsB2dCRlP0nl8c7NcLMbNmiIddnuhj14WQM+LukPwYBANvA52ennW84MgOI/2bZak6XI8XV7d3cbjJgdjBC/b/ES/6Xw2vpw7wuOvzQbVI0CcB/I1FB+17OLwfPzdz/XoeNhD8LQSYqoEp26+x/lE2alG83pbaFx49klQOyZKVGu8VZW0BxN1j1Ow7rpy8b7/5N3F5GRNI7A7KbZk5NTqzLNFDOoNpxhT6qAnzWjifEk4N3sxOsxzpLY25YOjul2f+vq+G5jfwDz3NU2eubGmbtu+fKbpiGfrYpBqtM7dGeZQCXurGJJRJ/SPa5OPok8mzlnybvd3AAAA//9lvqFatAsAAA
    objectset.rio.cattle.io/id: ''
    objectset.rio.cattle.io/owner-gvk: k3s.cattle.io/v1, Kind=Addon
    objectset.rio.cattle.io/owner-name: cluster-agent
    objectset.rio.cattle.io/owner-namespace: kube-system
  creationTimestamp: '2025-12-12T14:46:07Z'
  generation: 13
  labels:
    objectset.rio.cattle.io/hash: c5c3ae05aa6cf7e41d2b022e9aac4fccf373d8f4
  managedFields:
    - apiVersion: apps/v1
      fieldsType: FieldsV1
      fieldsV1:
        f:spec:
          f:template:
            f:metadata:
              f:annotations:
                .: {}
                f:agent.cluster.cattle.io/upgraded-v1.22: {}
      manager: rancher
      operation: Update
      time: '2025-12-12T14:48:04Z'
    - apiVersion: apps/v1
      fieldsType: FieldsV1
      fieldsV1:
        f:metadata:
          f:annotations:
            .: {}
            f:management.cattle.io/scale-available: {}
            f:objectset.rio.cattle.io/id: {}
            f:objectset.rio.cattle.io/owner-gvk: {}
            f:objectset.rio.cattle.io/owner-name: {}
            f:objectset.rio.cattle.io/owner-namespace: {}
          f:labels:
            .: {}
            f:objectset.rio.cattle.io/hash: {}
        f:spec:
          f:progressDeadlineSeconds: {}
          f:revisionHistoryLimit: {}
          f:selector: {}
          f:strategy:
            f:rollingUpdate:
              .: {}
              f:maxSurge: {}
              f:maxUnavailable: {}
            f:type: {}
          f:template:
            f:metadata:
              f:labels:
                .: {}
                f:app: {}
            f:spec:
              f:affinity:
                .: {}
                f:nodeAffinity:
                  .: {}
                  f:preferredDuringSchedulingIgnoredDuringExecution: {}
                  f:requiredDuringSchedulingIgnoredDuringExecution: {}
                f:podAntiAffinity:
                  .: {}
                  f:preferredDuringSchedulingIgnoredDuringExecution: {}
              f:containers:
                k:{"name":"cluster-register"}:
                  .: {}
                  f:env:
                    .: {}
                    k:{"name":"CATTLE_CA_CHECKSUM"}:
                      .: {}
                      f:name: {}
                      f:value: {}
                    k:{"name":"CATTLE_CLUSTER"}:
                      .: {}
                      f:name: {}
                      f:value: {}
                    k:{"name":"CATTLE_CLUSTER_REGISTRY"}:
                      .: {}
                      f:name: {}
                    k:{"name":"CATTLE_CREDENTIAL_NAME"}:
                      .: {}
                      f:name: {}
                    k:{"name":"CATTLE_FEATURES"}:
                      .: {}
                      f:name: {}
                    k:{"name":"CATTLE_INGRESS_IP_DOMAIN"}:
                      .: {}
                      f:name: {}
                      f:value: {}
                    k:{"name":"CATTLE_INSTALL_UUID"}:
                      .: {}
                      f:name: {}
                      f:value: {}
                    k:{"name":"CATTLE_K8S_MANAGED"}:
                      .: {}
                      f:name: {}
                      f:value: {}
                    k:{"name":"CATTLE_SERVER"}:
                      .: {}
                      f:name: {}
                      f:value: {}
                    k:{"name":"CATTLE_SERVER_VERSION"}:
                      .: {}
                      f:name: {}
                    k:{"name":"CATTLE_SUC_APP_NAME_OVERRIDE"}:
                      .: {}
                      f:name: {}
                    k:{"name":"STRICT_VERIFY"}:
                      .: {}
                      f:name: {}
                  f:imagePullPolicy: {}
                  f:name: {}
                  f:resources: {}
                  f:terminationMessagePath: {}
                  f:terminationMessagePolicy: {}
                  f:volumeMounts:
                    .: {}
                    k:{"mountPath":"/cattle-credentials"}:
                      .: {}
                      f:mountPath: {}
                      f:name: {}
                      f:readOnly: {}
              f:dnsPolicy: {}
              f:restartPolicy: {}
              f:schedulerName: {}
              f:securityContext: {}
              f:serviceAccount: {}
              f:serviceAccountName: {}
              f:terminationGracePeriodSeconds: {}
              f:tolerations: {}
              f:volumes:
                .: {}
                k:{"name":"cattle-credentials"}:
                  .: {}
                  f:name: {}
                  f:secret:
                    .: {}
                    f:defaultMode: {}
      manager: deploy@load-cluster-01-pool-load-cluster-01-cp-5wrmt-6nqrs
      operation: Update
      time: '2025-12-12T14:48:23Z'
    - apiVersion: apps/v1
      fieldsType: FieldsV1
      fieldsV1:
        f:metadata:
          f:annotations:
            f:kubectl.kubernetes.io/last-applied-configuration: {}
        f:spec:
          f:template:
            f:spec:
              f:containers:
                k:{"name":"cluster-register"}:
                  f:env:
                    k:{"name":"CATTLE_CLUSTER_REGISTRY"}:
                      f:value: {}
                    k:{"name":"CATTLE_FEATURES"}:
                      f:value: {}
                    k:{"name":"CATTLE_SERVER_VERSION"}:
                      f:value: {}
                    k:{"name":"CATTLE_SUC_APP_NAME_OVERRIDE"}:
                      f:value: {}
                  f:image: {}
      manager: kubectl-client-side-apply
      operation: Update
      time: '2025-12-15T12:02:20Z'
    - apiVersion: apps/v1
      fieldsType: FieldsV1
      fieldsV1:
        f:metadata:
          f:annotations:
            f:objectset.rio.cattle.io/applied: {}
        f:spec:
          f:template:
            f:spec:
              f:containers:
                k:{"name":"cluster-register"}:
                  f:env:
                    k:{"name":"CATTLE_CREDENTIAL_NAME"}:
                      f:value: {}
                    k:{"name":"STRICT_VERIFY"}:
                      f:value: {}
              f:volumes:
                k:{"name":"cattle-credentials"}:
                  f:secret:
                    f:secretName: {}
      manager: deploy@load-cluster-01-pool-load-cluster-01-cp-5wrmt-rq6sb
      operation: Update
      time: '2025-12-15T15:50:17Z'
    - apiVersion: apps/v1
      fieldsType: FieldsV1
      fieldsV1:
        f:spec:
          f:replicas: {}
      manager: agent
      operation: Update
      time: '2025-12-18T13:32:36Z'
    - apiVersion: apps/v1
      fieldsType: FieldsV1
      fieldsV1:
        f:metadata:
          f:annotations:
            f:deployment.kubernetes.io/revision: {}
        f:status:
          f:availableReplicas: {}
          f:conditions:
            .: {}
            k:{"type":"Available"}:
              .: {}
              f:lastTransitionTime: {}
              f:lastUpdateTime: {}
              f:message: {}
              f:reason: {}
              f:status: {}
              f:type: {}
            k:{"type":"Progressing"}:
              .: {}
              f:lastTransitionTime: {}
              f:lastUpdateTime: {}
              f:message: {}
              f:reason: {}
              f:status: {}
              f:type: {}
          f:observedGeneration: {}
          f:readyReplicas: {}
          f:replicas: {}
          f:updatedReplicas: {}
      manager: kube-controller-manager
      operation: Update
      subresource: status
      time: '2025-12-18T13:32:36Z'
  name: cattle-cluster-agent
  namespace: cattle-system
  resourceVersion: '803799'
  uid: c1e85a1c-5d8b-4a12-bd57-83b83469a020
spec:
  progressDeadlineSeconds: 600
  replicas: 6
  revisionHistoryLimit: 10
  selector:
    matchLabels:
      app: cattle-cluster-agent
  strategy:
    rollingUpdate:
      maxSurge: 1
      maxUnavailable: 0
    type: RollingUpdate
  template:
    metadata:
      annotations:
        agent.cluster.cattle.io/upgraded-v1.22: 'true'
      creationTimestamp: null
      labels:
        app: cattle-cluster-agent
    spec:
      affinity:
        nodeAffinity:
          preferredDuringSchedulingIgnoredDuringExecution:
            - preference:
                matchExpressions:
                  - key: node-role.kubernetes.io/controlplane
                    operator: In
                    values:
                      - 'true'
              weight: 100
            - preference:
                matchExpressions:
                  - key: node-role.kubernetes.io/control-plane
                    operator: In
                    values:
                      - 'true'
              weight: 100
            - preference:
                matchExpressions:
                  - key: cattle.io/cluster-agent
                    operator: In
                    values:
                      - 'true'
              weight: 1
          requiredDuringSchedulingIgnoredDuringExecution:
            nodeSelectorTerms:
              - matchExpressions:
                  - key: kubernetes.io/os
                    operator: NotIn
                    values:
                      - windows
        podAntiAffinity:
          preferredDuringSchedulingIgnoredDuringExecution:
            - podAffinityTerm:
                labelSelector:
                  matchExpressions:
                    - key: app
                      operator: In
                      values:
                        - cattle-cluster-agent
                topologyKey: kubernetes.io/hostname
              weight: 100
      containers:
        - env:
            - name: CATTLE_FEATURES
              value: >-
                embedded-cluster-api=false,fleet=false,managed-system-upgrade-controller=true,multi-cluster-management=false,multi-cluster-management-agent=true,provisioningprebootstrap=false,provisioningv2=false,rke2=false,ui-sql-cache=true
            - name: CATTLE_SERVER
              value: https://ip-172-31-4-100.sa-east-1.compute.internal
            - name: CATTLE_CA_CHECKSUM
              value: 2c1e4e07a24c4ebbdfa5b140980eaf23e3144c07412b6b26f4c743a4dc89811c
            - name: CATTLE_CLUSTER
              value: 'true'
            - name: CATTLE_K8S_MANAGED
              value: 'true'
            - name: CATTLE_CLUSTER_REGISTRY
              value: registry.rancher.com
            - name: CATTLE_CREDENTIAL_NAME
              value: cattle-credentials-6c7fc9d959
            - name: CATTLE_SUC_APP_NAME_OVERRIDE
              value: mcc-load-cluster-01-managed-system-upgrade-con-07f5f
            - name: CATTLE_SERVER_VERSION
              value: v2.12.4
            - name: CATTLE_INSTALL_UUID
              value: ec95620e-b1a6-459a-a848-3e36fb601114
            - name: CATTLE_INGRESS_IP_DOMAIN
              value: sslip.io
            - name: STRICT_VERIFY
              value: 'false'
          image: registry.rancher.com/rancher/rancher-agent:v2.12.4
          imagePullPolicy: IfNotPresent
          name: cluster-register
          resources: {}
          terminationMessagePath: /dev/termination-log
          terminationMessagePolicy: File
          volumeMounts:
            - mountPath: /cattle-credentials
              name: cattle-credentials
              readOnly: true
      dnsPolicy: ClusterFirst
      restartPolicy: Always
      schedulerName: default-scheduler
      securityContext: {}
      serviceAccount: cattle
      serviceAccountName: cattle
      terminationGracePeriodSeconds: 30
      tolerations:
        - effect: NoSchedule
          key: node-role.kubernetes.io/controlplane
          value: 'true'
        - effect: NoSchedule
          key: node-role.kubernetes.io/control-plane
          operator: Exists
      volumes:
        - name: cattle-credentials
          secret:
            defaultMode: 320
            secretName: cattle-credentials-6c7fc9d959
