[Unit]
Description=Mock OIDC Server
After=network.target

[Service]
Type=simple
User=ubuntu
WorkingDirectory=/home/ubuntu/helpers_env/oidc
ExecStart=/home/ubuntu/helpers_env/oidc/venv/bin/python oidc_mock_server.py
Restart=always

[Install]
WantedBy=multi-user.target
